<div #container
     [ngClass]="getDeployedEntityClass(applicationViewModel.application, ['application'])"
     [style.height.px]="elementHeight">

    <div *ngIf="applicationViewModel.selected" class="selectorButton"
         (click)="selectApplication()">[>]</div>

    <div [ngClass]="{'label-selected': applicationViewModel.selected, 'label-collapsed': !applicationViewModel.selected }"
         (click)="selectApplication()">{{applicationViewModel.application.name}}</div>

    <ul *ngIf="applicationViewModel.selected" class="service-list">
        <li *ngFor="#item of applicationViewModel.services">
            <service-component *ngIf="hasSelectedMetric(item.service.metrics)"
                               [serviceViewModel]="item"
                               [selectedColors]="selectedColors"
                               [selectedMetricName]="selectedMetricName"
                               [parentCapacity]="selectedLoadMetric.value"
                               [parentContainerSize]="containerSize">
            </service-component>
        </li>
    </ul>
</div>