<div #container
     [ngClass]="getDeployedEntityClass(['application'])"
     [style.height.px]="elementHeight">

    <div *ngIf="selected" class="selectorButton"
         (click)="selectApplication()">[>]</div>

    <div [ngClass]="{'label-selected': selected, 'label-collapsed': !selected }"
         (click)="selectApplication()">{{applicationName}}</div>

    <ul *ngIf="selected" class="service-list">
        <li *ngFor="#item of services">
            <service-component *ngIf="hasSelectedMetric(item.service.metrics)"
                               [serviceName]="item.service.name"
                               [metrics]="item.service.metrics"
                               [health]="item.service.health"
                               [status]="item.service.status"
                               [replicas]="item.replicas"
                               [selected]="item.selected"
                               [selectedColors]="selectedColors"
                               [selectedMetricName]="selectedMetricName"
                               [parentCapacity]="selectedLoadMetric.value"
                               [parentContainerSize]="containerSize">
            </service-component>
        </li>
    </ul>
</div>