<div class="controlPanel">
    <div class="filter controlGroup">
        <a (click)="toggleSelected()">{{!expanded && '[+] Expand applications' || '[-] Collapse applications'}}</a>
    </div>
    <div class="controls controlGroup">
        <div>
            <span>Metric:</span>
            <select name="metricDropDown" [ngModel]="selectedMetricName" (change)="onChangeCapacity($event.target.value)">
                <option *ngFor="#capacity of capacities" [ngValue]="capacity.name">{{capacity.name}}</option>
            </select>
        </div>
        <div>
            <span>Show:</span>
            <select name="colorDropDown" [ngModel]="selectedColors" (change)="onChangeColors($event.target.value)">
                <option value="status">Status</option>
                <option value="health">Health</option>
            </select>
        </div>
    </div>
    <div class="filter controlGroup">
        <h4>Node types</h4>
        <ul>
            <li><input type="checkbox" /><label>FrontEnd</label></li>
            <li><input type="checkbox" /><label>BackEnd</label></li>
        </ul>
    </div>
    <div class="filter controlGroup">
        <h4>Application types</h4>
        <ul>
            <li><input type="checkbox" /><label>application type 1</label></li>
            <li><input type="checkbox" /><label>application type 2</label></li>
        </ul>
    </div>
</div>
<div class="nodes">
    <div class="scale">
        <label>{{scaleFactor}}</label>
        <input [(ngModel)]="scaleFactor" class="scaleBar" type="range" orient="vertical" min="0" max="2.0" step="0.02" />
    </div>
    
    <ul class="nodeList">
        <li *ngFor="#node of nodes" class="nodeListItem">
            <node-component *ngIf="hasSelectedCapacity(node)"
                            [nodeName]="node.name"
                            [health]="node.health"
                            [status]="node.status"
                            [selected]="node.selected"
                            [nodeCapacities]="node.capacities"
                            [scaleFactor]="scaleFactor"
                            [capacities]="capacities"
                            [selectedColors]="selectedColors"
                            [selectedMetricName]="selectedMetricName">
            </node-component>
        </li>
    </ul>
</div>
