<div class="capacityList">
    <h4>Cluster capacities</h4>
    <ul>
        <li *ngFor="#item of clusterCapacities"
            [ngClass]="{ 'capacityWarning': isCapacityWarning(item) && !item.isClusterCapacityViolation, 'capacityViolation': item.isClusterCapacityViolation }">
            <input id="{{item.name}}" type="checkbox" [(ngModel)]="item.selected" (change)="onSelectCapacity(item.name, $event)" /><label attr.for="{{item.name}}">{{item.name}}</label>
        </li>
    </ul>
</div>
<div class="charts">
    <cluster-capacity-graph class="capacityGraph" [capacityHistory]="clusterCapacityStream">
    </cluster-capacity-graph>
    <ul class="capacityDonuts">
        <li *ngFor="#item of clusterCapacities">
            <cluster-capacity-donut *ngIf="item.selected && item.capacity > 0" 
                                    [capacity]="item.capacity"
                                    [load]="item.load"
                                    [name]="item.name"
                                    [remainingCapacity]="item.remainingCapacity"
                                    [isClusterCapacityViolation]="item.isClusterCapacityViolation">
            </cluster-capacity-donut>
        </li>
    </ul>
</div>