<div #Container class="nodeHeader {{selectedColors == 'status' ? status : health}}">
    <div class="nodeTitle">
        <h4 class="nodeName">{{nodeName}}</h4>
        <span class="nodeType">{{nodeType}}</span>
    </div>
    <div class="nodeStatus">
        <h4>{{selectedColors == 'status' ? status : health}}</h4>
        <span>{{address}}</span>
    </div>
    <div *ngIf="selectedCapacity.capacity >= 0" [ngClass]="{ 'nodeStats': true, 'nodeCapacityWarning': loadPercent >= 90 && !selectedCapacity.isCapacityViolation, 'nodeCapacityViolation': selectedCapacity.isCapacityViolation }">
        <h3>{{loadPercent}}%</h3>
        <h5>{{selectedMetricName}}</h5>
        <span>{{selectedCapacity.load}} of {{selectedCapacity.capacity}}</span>
    </div>
    <div *ngIf="selectedCapacity.capacity < 0" class="nodeStats ">
        <h3>10%</h3>
        <h5>Deployed replicas</h5>
        <span>18 of 102</span>
    </div>
</div>
<div class="{{selectedColors == 'status' ? status : ''}} node"
     [style.height]="elementHeight < 0 ? 'auto' : elementHeight + 'px'">
    <ul class="application-list">
        <li *ngFor="#applicationView of applications"
            class="application {{selectedColors == 'status' ? applicationView.application.status : applicationView.application.health}}"
            [style.height.px]="applicationView.application.elementHeight">

            <div *ngIf="applicationView.selected" class="selectorButton"
                 (click)="selectApplication()">[>]</div>

            <div [ngClass]="{'label-selected': applicationView.selected, 'label-collapsed': !applicationView.selected }"
                 (click)="selectApplication()">{{applicationView.application.name}}</div>

            <ul *ngIf="applicationView.selected" class="service-list">
                <li *ngFor="#serviceView of applicationView.services"
                    class="service {{selectedColors == 'status' ? serviceView.service.status : serviceView.service.health}}"
                    [style.height.px]="serviceView.service.elementHeight">

                    <div *ngIf="serviceView.selected" class="selectorButton"
                         (click)="selectService()">[>]</div>

                    <div [ngClass]="{'label-selected': serviceView.selected, 'label-collapsed': !serviceView.selected }"
                         (click)="selectService()">{{serviceView.service.name}}</div>

                    <ul *ngIf="serviceView.selected" class="replica-list">
                        <li *ngFor="#replica of serviceView.replicas"
                            class="replica {{selectedColors == 'status' ? 'replica-'+replica.status: replica.health}} {{replica.role || 'stateless' }}"
                            [style.height.px]="replica.elementHeight">
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
