<div *ngIf="selectedNodeCapacity && selectedClusterCapacity" class="nodeHeader {{selectedColors == 'status' ? status : health}}">
    <div class="nodeTitle">
        <h4 class="nodeName">{{nodeName}}</h4>
        <span class="nodeType">{{nodeType}}</span>
    </div>
    <div class="nodeStatus">
        <h4 class="highlight">{{selectedColors == 'status' ? status : health}}</h4>
        <span>{{address}}</span>
    </div>
    <div [ngClass]="{ 'nodeStats': true, 'nodeCapacityWarning': loadPercent >= 90 && !selectedNodeCapacity.isCapacityViolation, 'nodeCapacityViolation': selectedNodeCapacity.isCapacityViolation }">
        <node-capacity-donut [name]="selectedNodeCapacity.name"
                             [load]="selectedNodeCapacity.load"
                             [capacity]="selectedNodeCapacity.capacity > 0 ? selectedNodeCapacity.capacity : selectedClusterCapacity.load"
                             [remainingCapacity]="selectedNodeCapacity.remainingCapacity >= 0 ? selectedNodeCapacity.remainingCapacity : selectedClusterCapacity.load - selectedNodeCapacity.load"
                             [isCapacityViolation]="selectedNodeCapacity.isCapacityViolation">
        </node-capacity-donut>
    </div>
</div>
<div *ngIf="selectedNodeCapacity && selectedClusterCapacity" class="{{selectedColors == 'status' ? status : ''}} node"
     [style.height]="elementHeight < 0 ? 'auto' : elementHeight + 'px'">
    <ul class="application-list">
        <li *ngFor="#applicationView of applications"
            class="application {{applicationView.selectedClass}} highlight-background"
            [style.height.px]="applicationView.elementHeight">

            <a *ngIf="applicationView.expanded" class="selectorButton" (click)="applicationView.expanded = !applicationView.expanded">
                <span class="selectorArrow">[>]</span>
                <span class="selectorLabel">{{applicationView.application.name}}</span>
            </a>

            <div *ngIf="!applicationView.expanded" class="applicationDetails">
                <a (click)="applicationView.expanded = !applicationView.expanded">{{applicationView.application.name}}</a>
                <h5>{{applicationView.selectedMetric}}</h5>
                <h6>{{selectedNodeCapacity.name}}</h6>
                <ul *ngIf="selectedNodeCapacity.capacity > 0">
                    <li><span>{{applicationView.selectedMetric / selectedClusterCapacity.load | percent:'.1-1'}}</span>of cluster load</li>
                    <li><span>{{applicationView.selectedMetric / selectedNodeCapacity.load | percent:'.1-1'}}</span>of node load</li>
                </ul>
            </div>

            <ul *ngIf="applicationView.expanded" class="service-list">
                <li *ngFor="#serviceView of applicationView.services"
                    class="service {{serviceView.selectedClass}} highlight-background"
                    [style.height.px]="serviceView.elementHeight">

                    <a *ngIf="serviceView.expanded" class="selectorButton" (click)="serviceView.expanded = !serviceView.expanded">
                        <span class="selectorArrow">[>]</span>
                        <span class="selectorLabel">{{serviceView.service.name}}</span>
                    </a>

                    <div *ngIf="!serviceView.expanded" class="applicationDetails">
                        <a (click)="serviceView.expanded = !serviceView.expanded">{{serviceView.service.name}}</a>
                        <h5>{{serviceView.selectedMetric}}</h5>
                        <h6>{{selectedNodeCapacity.name}}</h6>
                        <ul *ngIf="selectedNodeCapacity.capacity > 0">
                            <li><span>{{serviceView.selectedMetric / selectedClusterCapacity.load | percent:'.1-1'}}</span>of cluster load</li>
                            <li><span>{{serviceView.selectedMetric / selectedNodeCapacity.load | percent:'.1-1'}}</span>of node load</li>
                            <li><span>{{serviceView.selectedMetric / applicationView.selectedMetric | percent:'.1-1'}}</span>of application load</li>
                        </ul>
                    </div>

                    <ul *ngIf="serviceView.expanded" class="replica-list">
                        <li *ngFor="#replicaView of serviceView.replicas"
                            class="replica replica-{{replicaView.selectedClass}} {{replicaView.roleClass || 'stateless' }}"
                            [style.height.px]="replicaView.elementHeight">
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
