<div class="nodeHeader {{selectedColors == 'status' ? status : health}}">
    <div class="nodeTitle">
        <h4 class="nodeName">{{nodeName}}</h4>
        <span class="nodeType">{{nodeType}}</span>
    </div>
    <div class="nodeStatus">
        <h4>{{selectedColors == 'status' ? status : health}}</h4>
        <span>{{address}}</span>
    </div>
    <div *ngIf="selectedCapacity.capacity >= 0" [ngClass]="{ 'nodeStats': true, 'nodeCapacityWarning': loadPercent >= 90 && !selectedCapacity.isCapacityViolation, 'nodeCapacityViolation': selectedCapacity.isCapacityViolation }">
        <h3>{{loadPercent}}%</h3>
        <h5>{{selectedMetricName}}</h5>
        <span>{{selectedCapacity.load}} of {{selectedCapacity.capacity}}</span>
    </div>
    <div *ngIf="selectedCapacity.capacity < 0" class="nodeStats ">
        <h3>10%</h3>
        <h5>Deployed replicas</h5>
        <span>18 of 102</span>
    </div>
</div>
<div class="{{selectedColors == 'status' ? status : ''}} node"
     [style.height]="elementHeight < 0 ? 'auto' : elementHeight + 'px'">
    <ul class="application-list">
        <li *ngFor="#applicationView of applications"
            class="application {{applicationView.selectedClass}}"
            [style.height.px]="applicationView.elementHeight">

            <a *ngIf="applicationView.expanded" class="selectorButton" (click)="applicationView.expanded = !applicationView.expanded">
                <span class="selectorArrow">[>]</span>
                <span class="selectorLabel">{{applicationView.application.name}}</span>
            </a>

            <div *ngIf="!applicationView.expanded" class="applicationDetails">
                <a (click)="applicationView.expanded = !applicationView.expanded">{{applicationView.application.name}}</a>
                <h5>{{applicationView.selectedMetric}}</h5>
                <h6>{{selectedMetricName}}</h6>
                <span>34% of node load</span>
            </div>

            <ul *ngIf="applicationView.expanded" class="service-list">
                <li *ngFor="#serviceView of applicationView.services"
                    class="service {{serviceView.selectedClass}}"
                    [style.height.px]="serviceView.elementHeight">

                    <a *ngIf="serviceView.expanded" class="selectorButton" (click)="serviceView.expanded = !serviceView.expanded">
                        <span class="selectorArrow">[>]</span>
                        <span class="selectorLabel">{{serviceView.service.name}}</span>
                    </a>

                    <div *ngIf="!serviceView.expanded" class="applicationDetails">
                        <a (click)="serviceView.expanded = !serviceView.expanded">{{serviceView.service.name}}</a>
                        <h5>{{serviceView.selectedMetric}}</h5>
                        <h6>{{selectedMetricName}}</h6>
                        <span>34% of node load</span>
                    </div>

                    <ul *ngIf="serviceView.expanded" class="replica-list">
                        <li *ngFor="#replicaView of serviceView.replicas"
                            class="replica replica-{{replicaView.selectedClass}} {{replicaView.roleClass || 'stateless' }}"
                            [style.height.px]="replicaView.elementHeight">
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
