.application-list { list-style: none; margin: 0; padding: 0; }
.node { margin:3px 0; padding: 3px 0px; background: #222222; height: auto; }
.nodeHeader { margin: 0; padding:8px; text-align: center;  background: #222222; border-left: 4px solid #000000; }
.nodeTitle { padding-bottom:5px; }
.nodeName { font-size:12px; font-weight:bold; margin-right: 5px }
.nodeType { font-size:9px; font-weight: normal }
.nodeCapacityStats {  margin-top: 5px; }
.nodeCapacityStats h3, .nodeHeader h5 {  margin: 0; padding:0; }
.nodeCapacityStats h3 { font-size: 32px; margin-bottom:5px; font-weight:lighter; }
.nodeCapacityStats h5 { font-size: 12px; }
.nodeCapacityViolation { color: #e81123 }
.nodeCapacityWarning { color: #FCD116 }

/* common */
.invalid { }
.unknown { }

/* statuses */
.up { border-color:#00ABEC }
.down { border-color: #E81123 }
.enabling { border-color: #00C69F }
.disabling { border-color:#D17D00 }
.disabled { border-color:#777777 }
.removed { border-color:#000000 }

/* health states */
.ok { border-color: #7FBA00; }
.warning { border-color: #FCD116}
.error { border-color: #E81123 }
