<div #container
     [ngClass]="getDeployedEntityClass(serviceViewModel.service, ['service'])"
     [style.height.px]="elementHeight">

    <div *ngIf="serviceViewModel.selected" class="selectorButton"
         (click)="selectService(serviceViewModel)">[>]</div>

    <div [ngClass]="{'label-selected': serviceViewModel.selected, 'label-collapsed': !serviceViewModel.selected }"
         (click)="selectService(serviceViewModel)">{{serviceViewModel.service.name}}</div>

    <ul class="replica-list">
        <li *ngFor="#item of serviceViewModel.replicas">
            <replica-component *ngIf="serviceViewModel.selected && hasSelectedMetric(item.metrics)"
                               [replicaViewModel]="item"
                               [selectedColors]="selectedColors"
                               [selectedMetricName]="selectedMetricName"
                               [parentCapacity]="selectedLoadMetric.value"
                               [parentContainerSize]="containerSize">
            </replica-component>
        </li>
    </ul>
</div>
