.service-list { list-style: none; margin: 0; padding: 0; }
.service { font-size: 10px; position:relative; list-style: none; margin: 0 0 0 15px; padding: 0; border: 1px solid #000000; }
.selectorButton { cursor: pointer; position: absolute; line-height: 1em; }
.label-selected { cursor: pointer; float: left; left: 16px; position: absolute; top: 18px; transform: rotate(90deg); transform-origin: left top 0; white-space: nowrap; }
.label-unselected { cursor: pointer; }

/* common */
.invalid { border-color: #000000; }
.unknown { border-color: #666666; }

/* statuses */
.active { border-color: #00ABEC; }
.upgrading { border-color: #00C69F; }
.deleting { border-color: #AAAAAA; }

/* health states */
.ok { border-color: #7FBA00; }
.warning { border-color: #FCD116; }
.error { border-color: #E81123; }
