<div #container
     [ngClass]="getDeployedEntityClass(['service'])"
     [style.height.px]="elementHeight">

    <div *ngIf="selected" class="selectorButton"
         (click)="selectService()">[>]</div>

    <div [ngClass]="{'label-selected': selected, 'label-collapsed': !selected }"
         (click)="selectService()">{{serviceName}}</div>

    <ul *ngIf="selected" class="replica-list">
        <li *ngFor="#replica of replicas">
            <replica-component *ngIf="hasSelectedMetric(replica.metrics)"
                               [replicaRole]="replica.role"
                               [metrics]="replica.metrics"
                               [health]="replica.health"
                               [status]="replica.status"
                               [selectedColors]="selectedColors"
                               [selectedMetricName]="selectedMetricName"
                               [parentCapacity]="selectedLoadMetric.value"
                               [parentContainerSize]="containerSize">
            </replica-component>
        </li>
    </ul>
</div>
