<div class="controlPanel">
    <div class="status controlGroup" *ngIf="clusterInfo">
        <h4>Cluster status</h4><span *ngIf="clusterInfo.healthStatus" class="clusterHealth {{clusterInfo.healthStatus.toLowerCase()}}">{{clusterInfo.healthStatus}}</span>
        <ul>
            <li><label>Runtime version:</label>{{clusterInfo.version}}</li>
            <li><label>Nodes:</label>{{clusterInfo.nodes}}</li>
            <li><label>Applications:</label>{{clusterInfo.applications}}</li>
            <li><label>Services:</label>{{clusterInfo.services}}</li>
            <li><label>Replicas and instances:</label>{{clusterInfo.replicas}}</li>
        </ul>
    </div>
    <div class="balance controlGroup" *ngIf="clusterInfo">
        <h4>Balancing status</h4>
        <ul>
            <li><label>Last started:</label>{{clusterInfo.lastBalanceStartTime}}</li>
            <li><label>Last ended:</label>{{clusterInfo.lastBalanceEndTime}}</li>
        </ul>
    </div>
    <div class="filter controlGroup">
        <a class="expandButton" (click)="expandApplications()">{{!applicationsExpanded && '[+] Expand applications' || '[-] Collapse applications'}}</a>
        <a class="expandButton" (click)="expandServices()">{{!servicesExpanded && '[+] Expand services' || '[-] Collapse services'}}</a>
    </div>
    <div class="controls controlGroup">
        <div>
            <label>Metric:</label>
            <select name="metricDropDown" [ngModel]="selectedMetricName" (change)="onChangeCapacity($event.target.value)">
                <option *ngFor="#capacity of clusterCapacities" [ngValue]="capacity.name">{{capacity.name}}</option>
            </select>
        </div>
        <div>
            <label>Display:</label>
            <select name="colorDropDown" [ngModel]="selectedColors" (change)="onChangeColors($event.target.value)">
                <option value="status">Status</option>
                <option value="health">Health</option>
            </select>
        </div>
    </div>
    <div class="filter controlGroup">
        <h4>Node types</h4>
        <ul>
            <li *ngFor="#nodeType of selectedNodeTypes">
                <input id="{{nodeType.name}}" type="checkbox" [(ngModel)]="nodeType.selected" (change)="onSelectNodeType(nodeType.name, $event)" /><label title="{{nodeType.name}}" attr.for="{{nodeType.name}}">{{nodeType.name}}</label>
            </li>
        </ul>
    </div>
    <div class="filter controlGroup">
        <h4>Application types</h4>
        <ul>
            <li *ngFor="#applicationType of selectedApplicationTypes">
                <input id="{{applicationType.name}}" type="checkbox" [(ngModel)]="applicationType.selected" /><label title="{{applicationType.name}}" attr.for="{{applicationType.name}}">{{applicationType.name}}</label>
            </li>
        </ul>
    </div>
</div>
<div class="nodes">
    <div class="scale">
        <label>{{scaleFactor * scaleFactor | percent:'.1-2'}}</label>
        <input [(ngModel)]="scaleFactor" class="scaleBar" type="range" orient="vertical" min="0" max="2.0" step="0.001" />
    </div>
    
    <ul class="nodeList">
        <li *ngFor="#node of nodes" class="nodeListItem">
            <node-component [nodeName]="node.name"
                            [nodeType]="node.nodeType"
                            [selectedApplicationTypes]="selectedApplicationTypes"
                            [health]="node.health"
                            [status]="node.status"
                            [upTime]="node.upTime"
                            [address]="node.address"
                            [capacityCount]="maxCapacityCount"
                            [applicationsExpanded]="node.applicationsExpanded"
                            [servicesExpanded]="node.servicesExpanded"
                            [scaleFactor]="scaleFactor * scaleFactor"
                            [selectedClusterCapacity]="selectedClusterCapacity"
                            [selectedColors]="selectedColors"
                            [highlightedReplica]="highlightedReplica"
                            (capacityCountChange)="onCapacityCountChange($event)"
                            (selectedCapacityChange)="onChangeCapacity($event)"
                            (highlightedReplicaChange)="onHighlightedReplicaChange($event)">
            </node-component>
        </li>
    </ul>
</div>
