.donutChartContainer { margin: 0 5px 0 0; }
.donut { display: block; background: #222222; min-width: 200px; height: 250px; float: left; padding: 25px 0 0 25px; position: relative; }
.chart { display: block; width: 150px; height: 150px; }
.inner { position: absolute; text-align: center; top: 75px; width: 150px; }
    .inner h5 { font-size: 28px; margin-bottom: 5px; margin-top: 0; }
    .inner span { font-size: 12px; }
    .inner .percent { font-size: 14px; vertical-align: super; }
.outer { margin: 10px 0 0 0; padding: 0; color: #AAA; }
    .outer li { list-style: none; font-weight: bold; font-size: 11px; }
        .outer li label { display: inline-block; width: 70px; font-weight: normal; text-align: right; margin: 0 10px 0 0; }
.expanded { width: 170px; float: left; height: 250px; padding: 17px 10px 0 0; background: #222222; }
    .expanded li { list-style: none; margin: 8px 0 0 0; padding: 0; font-weight: bold; }
        .expanded li label { display: inline-block; width: 100px; font-weight: normal; margin: 0; }
