<div class="controlPanel">
    <div class="status controlGroup" *ngIf="clusterInfo">
        <h4>Cluster status</h4><span *ngIf="clusterInfo.healthStatus" class="clusterHealth {{clusterInfo.healthStatus.toLowerCase()}}">{{clusterInfo.healthStatus}}</span>
        <ul>
            <li><label>Runtime version:</label>{{clusterInfo.version}}</li>
            <li><label>nodes:</label>{{clusterInfo.nodes}}</li>
            <li><label>applications:</label>{{clusterInfo.applications}}</li>
            <li><label>services:</label>{{clusterInfo.services}}</li>
            <li><label>replicas and instances:</label>{{clusterInfo.replicas}}</li>
        </ul>
    </div>
    <div class="balance controlGroup" *ngIf="clusterInfo">
        <h4>Balancing status</h4>
        <ul>
            <li><label>Last started:</label>{{clusterInfo.lastBalanceStartTime}}</li>
            <li><label>Last ended:</label>{{clusterInfo.lastBalanceEndTime}}</li>
        </ul>
    </div>
    <div class="capacities controlGroup">
        <h4>Cluster capacities</h4>
        <ul>
            <li *ngFor="#item of clusterCapacities"
                [ngClass]="{ 'capacityWarning': isCapacityWarning(item) && !item.isClusterCapacityViolation, 'capacityViolation': item.isClusterCapacityViolation }">
                <input id="{{item.name}}" type="checkbox" [(ngModel)]="item.selected" (change)="onSelectCapacity(item.name, $event)" /><label attr.for="{{item.name}}">{{item.name}}</label>
            </li>
        </ul>
    </div>
</div>
<div class="charts">
    <cluster-capacity-graph class="capacityGraph" [capacityHistory]="clusterCapacityStream">
    </cluster-capacity-graph>
    <ul class="capacityDonuts">
        <li *ngFor="#item of clusterCapacities">
            <cluster-capacity-donut *ngIf="item.selected && item.capacity > 0"
                                    [data]="item">
            </cluster-capacity-donut>
        </li>
    </ul>
</div>