.charts { margin: 0 5px 0 205px; }

.capacityGraph { }

.capacityDonuts { margin: 5px 0 0 0; padding: 0; }
    .capacityDonuts li { display: inline-block; list-style: none; margin: 0; }

.controlPanel { position: absolute; top:55px; bottom:0; width: 200px; white-space: nowrap; background: #222222; }
.controlGroup { padding: 10px; border-bottom: 2px solid #333; white-space: nowrap; }
    .controlGroup a, .controlGroup a:visited { color: #DDD; cursor: pointer; font-weight: bold; }
        .controlGroup a:hover { color: #FFF; cursor: pointer; text-decoration: none; }
    .controlGroup h4 { font-size: 12px; }
    .controlGroup ul { margin: 0; padding: 0; }
    .controlGroup li { list-style: none; padding: 0; margin: 0; font-weight: bold; }
    .controlGroup label { display: inline-block; margin: 2px 0; width: 87px; font-weight: normal; padding: 0; }

.status label { width: 115px; }
.status span { font-weight: bold; }
.capacities { border: none; }
    .capacities label { margin-left: 5px; font-weight: bold; }
.capacityWarning { color: #FCD116; }
.capacityViolation { color: #E81123; }

.clusterInfo { display: block; height: 250px; background-color: #222222; margin: 5px 0 0 5px; padding: 0; }
    .clusterInfo ul { margin: 5px; }
    .clusterInfo li { list-style: none; padding: 0; margin: 0; }

/* health states */
.ok { color: #7FBA00; }
.warning { color: #FCD116; }
.error { color: #E81123; }
